@import '../variables';

$color: #f23e30;
$header-background: $color;
$header-icon-color: darken($color, 10%);
$list-el-background-active: $color;

.wdp.wdp-red {
    @include insert-theme();
}