@import 'node_modules/window-date-picker-react/dist/css/window-date-picker.min';

html, body {
    height: 100%;
}

#app, #app > div {
    height: 100%;
}

#intro {
    overflow: auto;
    background-image: url('https://picstatio.com/download/2560x1440/42d268/purple-sunset-horizon-landscape.jpg');
    background-size: cover;

    > div {
        overflow: auto;
        padding: 1rem;
        background: rgba(0,0,0,.5);
        color: #fff;
        transition: all 400ms ease-out;

        &:not(.active) {
            transform: translateY(-30px);
            opacity: .3;
        }

        h1 {
            font-size: 3.6rem;
        }

        p {
            margin-bottom: 1.25rem;
            font-family: "Open Sans";
            font-size: 1.4rem;
        }
        
        a {
            padding: .75rem 3.2rem;
            border-radius: .25rem;
            background: #fff;
            color: #000;
            letter-spacing: 2px;
            font-family: Poppins;
            font-size: 1rem;
            text-decoration: none !important;
            transition: background 250ms 0s linear;

            &:hover {
                background: rgba(255,255,255,.7);
            }
        }
    }
    
    @media(max-width:768px) {
        h1 {
            font-size: 2.4rem;
        }

        p {
            font-size: 1rem;
        }

        a {
            padding: .5rem 2rem;
            font-size: .875rem;
        }
    }
}

#features {
    padding: 30px 0;

    .feature-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 15px;
        transition: all 800ms ease-out;

        &:not(.active) {
            transform: translateX(-30px);
            opacity: 0;
        }

        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;

            > i {
                color: #fff;
                font-size: 1.75rem;
            }
        }

        > h5 {
            margin: .75rem 0;
            color: #292b2c;
        }

        > p {
            margin: 0;
        }
    }
}

#react-icon {
    background: #222;

    > i {
        color: #00d8ff !important;
    }
}
#ts-icon {
    background: #007acc;
}
#lang-icon {
    background: #4c8cf5;
}
#color-icon {
    background: #cf649a;
}
#hour-icon {
    background: #ad45fa;
}
#resp-icon {
    background: #0F9AEF;
}

#demo {
    padding: 60px 0 500px;
    background: #fafafa;

    > .container {        
        h1 {
            color: #292b2c;
            text-align: center;
            font-family: "Open Sans";
            font-size: 2rem;
            font-weight: 400;
            transition: all 500ms 0s linear;

            &:not(.active) {
                transform: translateX(30px);
                opacity: 0;
            }
        }

        hr {
            width: 100px;
            height: 2px;
            margin: 60px auto;
            border: 0;
            background: #292b2c;
        }

        > div {
            margin: -15px;

           > div {
            > div {
                width: 300px;
                margin: 15px auto;
                transition: all 500ms 0s linear;
    
                &:not(.active) {
                    transform: translateY(30px);
                    opacity: 0;
                }
    
                .input-container {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
            
                    input {
                        flex: 1 1;
                        box-sizing: border-box;
                        padding: 10px 45px 10px 15px;
                        border-radius: 4px;
                        border: solid 1px #ddd;
                        letter-spacing: .3px;
                        font-family: "Open Sans";
                        font-weight: 600;
                        font-size: 15px;
            
                        &:focus,
                        &:active {
                            outline: 0;
                            border-color: #ccc;
                        }            
                    }
            
                    i {
                        position: absolute;
                        flex: 0 0;
                        right: 15px;
                        top: 9px;
                        color: rgba(0,0,0,.3);
                        font-size: 24px;
                        transition: color 150ms 0s linear;
                    }
                }
               }
           }
        }
    }
}

.wdp-active.icon-blue {
    color: #0F9AEF !important;
}
.wdp-active.icon-purple {
    color: #ad45fa !important;
}
.wdp-active.icon-red {
    color: #f23e30 !important;
}