@import 'theme/style';
@import 'theme/default';
@import 'theme/blue';
@import 'theme/cyan';
@import 'theme/dark';
@import 'theme/gray';
@import 'theme/green';
@import 'theme/light';
@import 'theme/purple';
@import 'theme/red';
@import 'theme/yellow';